# Environments
.venv/
venv/
env/
ENV/
*.env

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints & cache
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.local
.cache

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Temporary & Log files
*.log
scratch/

# Local media and exported PDF results
PDF results/
extracted_slides/
